<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

    <node name="gazebo_arac_ekle_dugumu" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-urdf -x 0 -y 0 -z 0 -R 0 -P 0 -Y 0 -model prototype_vehicle_mini -param robot_description"/>
        
    <node name="gazebo_kat_ekle_dugumu" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-file '$(find prototype_vehicle_mini)/gazebo/gazebo_floor_plan/model.sdf' -sdf -x 0 -y 0 -z 0 -R 0 -P 0 -Y 0 -model 'floor_plan'"/>
    
</launch>