<launch>
  <param name="/use_sim_time" value="true"/>
  <!-- <remap from="/diff_drive_controller/odom" to="/odom" /> -->

  <include file="$(find prototype_vehicle_mini)/launch/rviz.launch" />
  <include file="$(find prototype_vehicle_mini)/launch/map_load.launch" />
  <include file="$(find prototype_vehicle_mini)/launch/gazebo.launch" />
  <include file="$(find prototype_vehicle_mini)/launch/laser_merge.launch" />
  <include file="$(find prototype_vehicle_mini)/launch/urdf_and_control.launch" />
  <include file="$(find prototype_vehicle_mini)/launch/amcl.launch" />
  <include file="$(find prototype_vehicle_mini)/launch/move_base_mir100.launch" />
  <!-- <include file="$(find prototype_vehicle_mini)/launch/rqt.launch" /> -->
  <!-- <include file="$(find prototype_vehicle_mini)/launch/static_transforms.launch" /> -->

<!--   <include file="$(find prototype_vehicle_mini)/launch/robot_localization.launch" /> -->
<!--   <include file="$(find prototype_vehicle_mini)/launch/joystick.launch" /> -->
  

</launch>
  