<launch>
  <!-- Wheel Odometry Publisher -->
  <!-- Subscribe: /right_ticks, /left_ticks, /initial_2d -->
  <!-- Publish: /odom_data_euler, /odom_data_quat -->
  
  <node pkg="robot_localization" type="ekf_odom_pub" name="ekf_odom_pub" />


  <!-- Subscribe: /initialpose, /move_base_simple/goal -->
  <!-- Publish: /initial_2d, /goal_2d --> 

  <node pkg="robot_localization" type="rviz_click_to_2d" name="rviz_click_to_2d" />  
      
  <!-- <include file="$(find robot_localization)/launch/ekf_template.launch" /> -->


</launch>
