<launch>
  <param name="robot_description" command="xacro --inorder '$(find prototype_vehicle_mini)/xacro/main.xacro' " />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" >
      <param name="rate" value="50" /> 
  </node>

  <!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" /> -->

  <rosparam file="$(find prototype_vehicle_mini)/params/joint_state_controller.yaml" command="load"/>
<!--   <rosparam file="$(find prototype_vehicle_mini)/params/diff_drive_controller.yaml" command="load"/> -->
  <rosparam file="$(find prototype_vehicle_mini)/params/gazebo_ros_control.yaml" command="load"/>
  
  <!-- <node name="controller_manager" pkg="controller_manager" type="spawner" respawn="true" output="screen"
      args="joint_state_controller
            "/> -->
            <!-- on_sol_sarhos_teker_joint_velocity_controller
            on_sol_sarhos_teker_plakasi_joint_velocity_controller
            on_sag_sarhos_teker_joint_velocity_controller
            on_sag_sarhos_teker_plakasi_joint_velocity_controller
            arka_sag_sarhos_teker_joint_velocity_controller
            arka_sag_sarhos_teker_plakasi_joint_velocity_controller
            arka_sol_sarhos_teker_joint_velocity_controller
            arka_sol_sarhos_teker_plakasi_joint_velocity_controller 
          
            sol_teker_joint_velocity_controller
            sag_teker_joint_velocity_controller
            diff_drive_controller
            "-->

</launch>