<?xml version="1.0"?>
<launch>
    <arg name="ip" default="127.0.0.1"></arg>
    <arg name="port" default="9090"></arg>
    <include file="$(find mir_gazebo)/launch/mir_maze_world.launch">
        <arg name="model_name" value="big_maze" />
    </include>
    <!-- <node pkg="rosservice" type="rosservice" name="rosservice" args="call wait /gazebo/unpause_physics" /> -->

    <include file="$(find mir_navigation)/launch/hector_mapping.launch" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mir_navigation)/rviz/navigation.rviz" />

    <node name="filter_cmd" pkg="mir_navigation" type="filter_cmd.py" output="screen" />
    <node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" output="screen" />
    <!-- <node name="republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" output="screen" /> -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="address" default="$(arg ip)" />
        <arg name="port" default="$(arg port)" />
    </include> 

</launch>