<?xml version="1.0"?>

<launch>

  <arg name="local_planner" default="dwb" doc="Local planner can be either dwa, base, teb or pose" />

  <!-- <arg name="base_local_planner" default="base_local_planner/TrajectoryPlannerROS"/> -->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <!-- MOVE BASE -->
    <rosparam file="$(find navigation)/config/move_base/move_base_common_params.yaml" command="load" />
    <!-- MOVE BASE -->


    <!-- SBPL Planner -->
    <!-- <param name="SBPLLatticePlanner/primitive_filename" value="$(find mir_navigation)/mprim/pr2.mprim" /> -->
    <!-- <rosparam file="$(find navigation)/config/planner/sbpl_global_params.yaml" command="load" />
    <rosparam file="$(find navigation)/config/planner/$(arg local_planner)_local_planner_params.yaml" command="load" /> -->

    <param name="SBPLLatticePlanner/primitive_filename" value="$(find mir_navigation)/mprim/unicycle_highcost_5cm.mprim" />
    <rosparam file="$(find mir_navigation)/config/move_base_common_params.yaml" command="load" />
    <rosparam file="$(find mir_navigation)/config/sbpl_global_params.yaml" command="load" />
    <rosparam file="$(find mir_navigation)/config/$(arg local_planner)_local_planner_params.yaml" command="load" />
    <!-- SBPL Planner -->



    <!-- COSTMAP -->
    <rosparam file="$(find navigation)/config/costmap/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find navigation)/config/costmap/costmap_common.yaml" command="load" ns="local_costmap" />

    <rosparam file="$(find navigation)/config/costmap/costmap_local.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find navigation)/config/costmap/costmap_global.yaml" command="load" ns="global_costmap" />
    <!-- COSTMAP -->

  </node>

</launch>