<launch>
    <arg name="local_planner"          default="dwb"             doc="Local planner can be either dwa, eband, base, teb or pose" />
    <arg name="map_file" default="$(find my_pkg)/maps/pilznewmap.yaml" doc="Path to a map .yaml file (required)." />
    <arg name="prefix" default="" />
    <arg name="namespace" default="$(arg prefix)" doc="Namespace to push all topics into."/>
  
    <group if="$(eval namespace != '')" ns="$(arg namespace)">
      <!-- <include file="$(find navigation)/launch/start_maps.launch">
        <arg name="map_file" value="$(arg map_file)" />
      </include> -->
  
      <include file="$(find navigation)/launch/newMove_base.xml">
        <arg name="local_planner" value="$(arg local_planner)"/>
        <arg name="prefix" value="$(arg prefix)" />
      </include>
    </group>
 
  </launch>
  