<launch>

  <include file="$(find prototype_vehicle)/launch/upload_urdf.launch"/>
  
  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" output="screen" />

  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="true" output="screen">
    <param name="rate" value="50" />
  </node> -->

  <!-- <rosparam file="$(find prototype_vehicle)/params/joint_state_publisher_params.yaml" command="load" /> -->

  <!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" /> -->

  <!-- <rosparam file="$(find prototype_vehicle)/params/gazebo_ros_control.yaml" command="load"/> -->

  <!-- <rosparam file="$(find prototype_vehicle)/params/joint_state_controller.yaml" command="load" /> -->

  <!-- <node name="controller_manager" pkg="controller_manager" type="spawner" respawn="true" output="screen" args="joint_state_controller lift_controller" /> -->

  <!-- <node name="casters_joint_publisher" pkg="prototype_vehicle" type="casters_joint_publisher.py" output="screen" /> -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find prototype_vehicle)/rviz/prototype_vehicle.rviz" />

</launch>