<?xml version="1.0"?>
<launch>

  <!-- <arg name="map_file" default="$(find my_pkg)/maps/mymap.yaml" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" /> -->

  <rosparam file="$(find mobile_robot_autonomous_navigation)/config/controllers.yaml" command="load" />
  <rosparam file="$(find mobile_robot_autonomous_navigation)/config/joint_limits.yaml" command="load" />

  <!-- <arg name="model" default="$(find prototype_vehicle)/xacro/prototype_vehicle.xacro" />
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" /> -->

  <!-- <include file="$(find my_pkg)/launch/motor_control.launch" />
  <include file="$(find rplidar_ros)/launch/rplidar.launch">
    <arg name="port" value="/dev/ttyUSB1"></arg>
  </include> -->


  <node name="robot_hardware_interface" pkg="mobile_robot_autonomous_navigation" type="mobile_robot_hardware_interface" output="screen">
    <remap from="/mobile_robot/mobile_base_controller/cmd_vel" to="/cmd_vel" />
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"></node>
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"></node> -->

  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mobile_robot_autonomous_navigation)/config/rviz_config.rviz" /> -->

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="
      /mobile_robot/joints_update
      /mobile_robot/mobile_base_controller"></node>

  <!-- <include file="$(find mobile_robot_autonomous_navigation)/launch/amcl.launch" /> -->


  <!-- <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
    <rosparam command="load" file="$(find mobile_robot_autonomous_navigation)/config/ekf_localization.yaml"/>
  </node> -->


  <!-- <node pkg="rqt_robot_steering" type="rqt_robot_steering" name="rqt_robot_steering" output="screen" /> -->
  <!-- <node name="telop" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py"/> -->

</launch>