<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- <xacro:macro name="wheel_transmission" params="prefix locationprefix">
    <transmission name="${prefix}${locationprefix}_transmission">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}${locationprefix}_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}${locationprefix}_motor">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <xacro:macro name="wheel_transmission" params="prefix">
    <xacro:wheel_transmission prefix="${prefix}" locationprefix="fl_caster_wheel" />
    <xacro:wheel_transmission prefix="${prefix}" locationprefix="fr_caster_wheel" />
    <xacro:wheel_transmission prefix="${prefix}" locationprefix="bl_caster_wheel" />
    <xacro:wheel_transmission prefix="${prefix}" locationprefix="br_caster_wheel" />
    <xacro:wheel_transmission prefix="${prefix}" locationprefix="fl_caster_rotation" />
    <xacro:wheel_transmission prefix="${prefix}" locationprefix="fr_caster_rotation" />
    <xacro:wheel_transmission prefix="${prefix}" locationprefix="bl_caster_rotation" />
    <xacro:wheel_transmission prefix="${prefix}" locationprefix="br_caster_rotation" />
  </xacro:macro> -->

  <!-- <transmission name="fl_caster_wheel_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="fl_caster_wheel_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="fl_caster_wheel_motor">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="fr_caster_wheel_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="fr_caster_wheel_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="fr_caster_wheel_motor">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="bl_caster_wheel_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="bl_caster_wheel_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="bl_caster_wheel_motor">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="br_caster_wheel_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="br_caster_wheel_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="br_caster_wheel_motor">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="fl_caster_rotation_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="fl_caster_rotation_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="fl_caster_rotation_motor">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="fr_caster_rotation_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="fr_caster_rotation_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="fr_caster_rotation_motor">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="bl_caster_rotation_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="bl_caster_rotation_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="bl_caster_rotation_motor">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="br_caster_rotation_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="br_caster_rotation_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="br_caster_rotation_motor">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission> -->

</robot>