<launch>

    <arg name="model" default="$(find my_pkg)/urdf/bot.urdf.xacro" />
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0" />
      </node>
      
      <!-- <node pkg="joint_state_publisher" type="joint_state_publisher" name="jnt_st_pub" /> -->
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot3_gazebo)/rviz/turtlebot3_gazebo_model.rviz"/>
  
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find my_pkg)/rviz/model.rviz">
    </node> -->
</launch>