<launch>

    <include file="$(find robot_description)/launch/wheel_odom.launch" />

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
        <rosparam command="load" file="$(find my_pkg)/config/ekf_localization.yaml"/>
    </node>
    
    <!-- <include file="$(find rplidar_ros)/launch/rplidar.launch">
        <arg name="port" value="/dev/ttyUSB1" />
    </include> -->

    <!-- <include file="$(find laser_scan_matcher)/demo/demo.launch" /> -->

    <!-- <node pkg="robot_description" type="laser_scan_odom.py" name="laser_scan_odom" output="screen"/> -->


</launch>