<launch>
    
    <arg name="ip" default="127.0.0.1"></arg>
    <arg name="port" default="9090"></arg>
    <arg name="motor_port" default="/dev/ttyUSB0"></arg>

    <node pkg="my_pkg" type="run_server.py" name="run_server" output="screen" args="$(arg ip)"/>
    
    <node pkg="my_pkg" type="motor_encoder_filtered.py" name="motor_encoder_filtered" output="screen" args="$(arg motor_port)"/>
    
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="address" default="$(arg ip)" />
        <arg name="port" default="$(arg port)" />
    </include>




</launch>
