<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <gazebo>
    <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
      <rosDebugLevel>Debug</rosDebugLevel> <!-- <rosDebugLevel>Debug</rosDebugLevel> -->
      <updateRate>1000</updateRate> <!-- Plugin update rate in Hz -->
      <alwaysOn>true</alwaysOn>
      <leftJoint>left_wheel_joint</leftJoint> <!-- Name of left joint, defaults to `left_joint` -->
      <rightJoint>right_wheel_joint</rightJoint> <!-- Name of right joint, defaults to `right_joint` -->
      <wheelSeparation>0.47</wheelSeparation> <!-- The distance from the center of one wheel to the other, in meters, defaults to 0.34 m -->
      <wheelDiameter>0.16</wheelDiameter> <!-- Diameter of the wheels, in meters, defaults to 0.15 m -->
      <wheelAcceleration>0.5</wheelAcceleration> <!-- Wheel acceleration, in rad/s^2, defaults to 0.0 rad/s^2 -->
      <wheelTorque>50</wheelTorque> <!-- Maximum torque which the wheels can produce, in Nm, defaults to 5 Nm -->
      <commandTopic>cmd_vel</commandTopic> <!-- Topic to receive geometry_msgs/Twist message commands, defaults to `cmd_vel` -->
      <odometryTopic>odom</odometryTopic> <!-- Topic to publish nav_msgs/Odometry messages, defaults to `odom` -->
      <odometryFrame>odom</odometryFrame> <!-- Odometry frame, defaults to `odom` -->
      <robotBaseFrame>base_footprint</robotBaseFrame> <!-- Robot frame to calculate odometry from, defaults to `base_footprint` -->
      <odometrySource>world</odometrySource> <!-- Odometry source, 0 for ENCODER, 1 for WORLD, defaults to WORLD -->
      <publishWheelTF>false</publishWheelTF> <!-- Set to true to publish transforms for the wheel links, defaults to false -->
      <publishOdom>true</publishOdom> <!-- Set to true to publish transforms for the odometry, defaults to true -->
      <publishOdomTF>true</publishOdomTF>
      <publishTf>true</publishTf>
      <publishWheelJointState>true</publishWheelJointState> <!-- Set to true to publish sensor_msgs/JointState on /joint_states for the wheel joints, defaults to false -->
      <legacyMode>false</legacyMode> <!-- Set to true to swap right and left wheels, defaults to true -->
    </plugin>
  </gazebo>

  <xacro:macro name="set_wheel_friction" params="link friction">
    <gazebo reference="${link}">
      <mu1 value="${friction}" />
      <mu2 value="${friction}" />
      <kp value="10000000.0" />
      <kd value="1.0" />
      <minDepth>0.01</minDepth>
    </gazebo>
  </xacro:macro>


  <xacro:macro name="set_all_wheel_frictions" params="prefix">
    <!-- <xacro:set_wheel_friction link="${prefix}left_wheel_link" friction="200" />
    <xacro:set_wheel_friction link="${prefix}right_wheel_link" friction="200" /> -->
    <xacro:set_wheel_friction link="${prefix}fl_caster_wheel_link" friction="0" />
    <xacro:set_wheel_friction link="${prefix}fr_caster_wheel_link" friction="0" />
    <xacro:set_wheel_friction link="${prefix}bl_caster_wheel_link" friction="0" />
    <xacro:set_wheel_friction link="${prefix}br_caster_wheel_link" friction="0" />
  </xacro:macro>

</robot>